In [3]:
import pandas as pd

In [31]:
df = pd.read_csv("schedule.csv",header=None)

In [32]:
df.head()

               0      1      2
0  Tokyo500yesrs  10:00  10:18
1    004_shunbun  10:18  10:24
2     soundscape  10:24  10:40
3  Tokyo500yesrs  10:40  10:58
4    004_shunbun  10:58  11:04

In [33]:
start=[]
end=[]
for i,row in df.iterrows():
    tmp = row[1].split(":")
    x = (int(tmp[0])*60 + int(tmp[1])) * 60
    start.append(x)

for i,row in df.iterrows():
    tmp = row[2].split(":")
    x = (int(tmp[0])*60 + int(tmp[1])) * 60
    end.append(x)

In [34]:
df["start"]=start
df["end"]=end

In [35]:
dic = {"Tokyo500yesrs" : "./movie/Tokyo500.mp4",
       "004_shunbun" : "./movie/shunbun.mp4",
       "soundscape" : "./movie/sample-10s.mp4"
      }
time_dic = {"Tokyo500yesrs" : 1071,
       "004_shunbun" : 300,
       "soundscape" : 10
      }
path=[]
time=[]
for i, row in df.iterrows():
    path.append(dic[row[0]])
    time.append(time_dic[row[0]])
df[3] = time
df[0] = path

In [36]:
df

                         0      1      2  start    end     3
0     ./movie/Tokyo500.mp4  10:00  10:18  36000  37080  1071
1      ./movie/shunbun.mp4  10:18  10:24  37080  37440   300
2   ./movie/sample-10s.mp4  10:24  10:40  37440  38400    10
3     ./movie/Tokyo500.mp4  10:40  10:58  38400  39480  1071
4      ./movie/shunbun.mp4  10:58  11:04  39480  39840   300
..                     ...    ...    ...    ...    ...   ...
58     ./movie/shunbun.mp4  22:58  23:04  82680  83040   300
59  ./movie/sample-10s.mp4  23:04  23:20  83040  84000    10
60    ./movie/Tokyo500.mp4  23:20  23:38  84000  85080  1071
61     ./movie/shunbun.mp4  23:38  23:44  85080  85440   300
62  ./movie/sample-10s.mp4  23:44  24:00  85440  86400    10

[63 rows x 6 columns]

In [37]:
df[[0,3,"start","end"]].to_csv("schedule.txt",sep=' ',header=None,index=None)

In [29]:
17*60 + 51

1071

In [38]:
import datetime

In [44]:
today = datetime.date.today()

In [46]:
from datetime import date
from datetime import datetime

dt = datetime.combine(date.today(), datetime.min.time())

In [48]:
dt.timestamp()

1647788400.0

In [65]:
max_t = 28*60*60

In [66]:
x = 22*60*60
entry=[]
stream = []
begin = []
end = []
while(x < max_t):
    entry.extend(["./movie/Tokyo500.mp4","./movie/shunbun.mp4"])
    stream.extend([1071,300])
    begin.append(x)
    x += 1071
    end.append(x+1)
    begin.append(x)
    x += 300
    end.append(x+1)

In [67]:
len(entry)

32

In [68]:
x

101136

In [69]:
max_t

100800

In [70]:
#pd.DataFrame({0:entry,1:stream,2:begin,3:end}).to_csv("tokyo500-shunbun.txt",sep=" ",index=None,header=None)
pd.DataFrame({0:entry,1:stream,2:begin,3:end}).to_csv("tokyo500-shunbun_test.txt",sep=" ",index=None,header=None)